<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Tour project</title>
    <meta name="description" content="Starter boilerplate for static websites.">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="img/favicon/comodo_dragon.ico" rel="shortcut icon" type="image/x-icon">

    <!-- Open Graph data / Facebook Card data -->
    <meta property="og:title" content="Steinhof boilerplate">
    <meta property="og:type" content="webTemplate">
    <meta property="og:url" content="https://github.com/Steinhof">
    <meta property="og:image" content="https://i.imgur.com/lxRBpeb.jpg">
    <meta property="og:image:alt" content="A blue package, symbolizing what webpack does.">
    <meta property="og:description" content="Starter boilerplate for static websites.">

    <!--    Configuring Apple Web Applications-->
    <!--    <link rel="apple-touch-icon" href="touch-iconiphone.png">-->
    <!--    <link rel="apple-touch-icon" sizes="152x152" href="touch-icon-ipad.png">-->
    <!--    <link rel="apple-touch-icon" sizes="180x180" href="touch-icon-iphone-retina.png">-->
    <!--    <link rel="apple-touch-icon" sizes="167x167" href="touch-icon-ipad-retina.png">-->

    <!-- Twitter Card data -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:creator" content="@Steinhof">

    <!-- Mobile header color for iOS Safari (supports black, black-translucent or default) -->
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="MyBoilerplate">
    <meta name="apple-mobile-web-app-capable" content="yes">

    <!-- Mobile header color for Chrome, Firefox OS and Opera -->
    <meta name="theme-color" content="#000">
    <link href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900" rel="stylesheet">
    <link href="manifest.json" rel="manifest">
    <link href="css/main.css" rel="stylesheet">
</head>

<body>
<header class="header">

    <div class="header__logo-box">
        <picture>
            <img class="header__logo" src="img/logo-white.png" alt="Logo">
        </picture>

        <div class="header__text-box">
            <h1 class="heading-primary">
                <span class="heading-primary--main">Outdoors</span>
                <span class="heading-primary--sub">is where life happens</span>
            </h1>
            <a role="button" href="#" class="btn--white">Discover our tours</a>
        </div>

    </div>
</header>
<section class="section-about">
    <div class="u-center-text u-margin-bottom-8">
        <h2 class="heading-secondary">
            Exiting tours for adventurous people
        </h2>

        <div class="row">
            <div class="col-1-of-2">
                Text content
            </div>
            <div class="col-1-of-2">
                Image composition
            </div>
        </div>
    </div>
</section>


<!--    <section class="grid-test">-->
<!--        <div class="row">-->
<!--            <div class="col-1-of-2">-->
<!--                Col 1 of 2-->
<!--            </div>-->
<!--            <div class="col-1-of-2">-->
<!--                Col 1 of 2-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="row">-->
<!--            <div class="col-1-of-3">-->
<!--                Col 1 of 3-->
<!--            </div>-->
<!--            <div class="col-1-of-3">-->
<!--                Col 1 of 3-->
<!--            </div>-->
<!--            <div class="col-1-of-3">-->
<!--                Col 1 of 3-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="row">-->
<!--            <div class="col-1-of-3">-->
<!--                Col 1 of 3-->
<!--            </div>-->
<!--            <div class="col-2-of-3">-->
<!--                Col 2 of 3-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="row">-->
<!--            <div class="col-1-of-4">-->
<!--                Col 1 of 4-->
<!--            </div>-->
<!--            <div class="col-1-of-4">-->
<!--                Col 1 of 4-->
<!--            </div>-->
<!--            <div class="col-1-of-4">-->
<!--                Col 1 of 4-->
<!--            </div>-->
<!--            <div class="col-1-of-4">-->
<!--                Col 1 of 4-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="row">-->
<!--            <div class="col-1-of-4">-->
<!--                Col 1 of 4-->
<!--            </div>-->
<!--            <div class="col-1-of-4">-->
<!--                Col 1 of 4-->
<!--            </div>-->
<!--            <div class="col-2-of-4">-->
<!--                Col 2 of 4-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="row">-->
<!--            <div class="col-1-of-4">-->
<!--                Col 1 of 4-->
<!--            </div>-->
<!--            <div class="col-3-of-4">-->
<!--                Col 3 of 4-->
<!--            </div>-->
<!--        </div>-->
<!--    </section>-->
</body>
</html>
