/* Document
 * ========================================================================== */
/**
 * Add border box sizing in all browsers (opinionated).
 */
*,
::before,
::after {
  box-sizing: border-box; }

/**
 * 1. Add text decoration inheritance in all browsers (opinionated).
 * 2. Add vertical alignment inheritance in all browsers (opinionated).
 */
::before,
::after {
  text-decoration: inherit;
  /* 1 */
  vertical-align: inherit;
  /* 2 */ }

/**
 * 1. Use the default cursor in all browsers (opinionated).
 * 2. Change the line height in all browsers (opinionated).
 * 3. Use a 4-space tab width in all browsers (opinionated).
 * 4. Remove the grey highlight on links in iOS (opinionated).
 * 5. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 * 6. Breaks words to prevent overflow in all browsers (opinionated).
 */
html {
  cursor: default;
  /* 1 */
  line-height: 1.5;
  /* 2 */
  -moz-tab-size: 4;
  /* 3 */
  tab-size: 4;
  /* 3 */
  -webkit-tap-highlight-color: transparent;
  -ms-text-size-adjust: 100%;
  /* 5 */
  -webkit-text-size-adjust: 100%;
  /* 5 */
  word-break: break-word;
  /* 6 */ }

/* Sections
 * ========================================================================== */
/**
 * Remove the margin in all browsers (opinionated).
 */
body {
  margin: 0; }

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Edge, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* Grouping content
 * ========================================================================== */
/**
 * Remove the margin on nested lists in Chrome, Edge, IE, and Safari.
 */
dl dl,
dl ol,
dl ul,
ol dl,
ul dl {
  margin: 0; }

/**
 * Remove the margin on nested lists in Edge 18- and IE.
 */
ol ol,
ol ul,
ul ol,
ul ul {
  margin: 0; }

/**
 * 1. Add the correct sizing in Firefox.
 * 2. Show the overflow in Edge 18- and IE.
 */
hr {
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/**
 * Add the correct display in IE.
 */
main {
  display: block; }

/**
 * Remove the list style on navigation lists in all browsers (opinionated).
 */
nav ol,
nav ul {
  list-style: none;
  padding: 0; }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Text-level semantics
 * ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * Add the correct text decoration in Edge 18-, IE, and Safari.
 */
abbr[title] {
  text-decoration: underline;
  text-decoration: underline dotted; }

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder; }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%; }

/* Embedded content
 * ========================================================================== */
/*
 * Change the alignment on media elements in all browsers (opinionated).
 */
audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle; }

/**
 * Add the correct display in IE 9-.
 */
audio,
video {
  display: inline-block; }

/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Remove the border on iframes in all browsers (opinionated).
 */
iframe {
  border-style: none; }

/**
 * Remove the border on images within links in IE 10-.
 */
img {
  border-style: none; }

/**
 * Change the fill color to match the text color in all browsers (opinionated).
 */
svg:not([fill]) {
  fill: currentColor; }

/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden; }

/* Tabular data
 * ========================================================================== */
/**
 * Collapse border spacing in all browsers (opinionated).
 */
table {
  border-collapse: collapse; }

/* Forms
 * ========================================================================== */
/**
 * Remove the margin on controls in Safari.
 */
button,
input,
select {
  margin: 0; }

/**
 * 1. Show the overflow in IE.
 * 2. Remove the inheritance of text transform in Edge 18-, Firefox, and IE.
 */
button {
  overflow: visible;
  /* 1 */
  text-transform: none;
  /* 2 */ }

/**
 * Correct the inability to style buttons in iOS and Safari.
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; }

/**
 * 1. Change the inconsistent appearance in all browsers (opinionated).
 * 2. Correct the padding in Firefox.
 */
fieldset {
  border: 1px solid #a0a0a0;
  /* 1 */
  padding: 0.35em 0.75em 0.625em;
  /* 2 */ }

/**
 * Show the overflow in Edge 18- and IE.
 */
input {
  overflow: visible; }

/**
 * 1. Correct the text wrapping in Edge 18- and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 */
legend {
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  white-space: normal;
  /* 1 */ }

/**
 * 1. Add the correct display in Edge 18- and IE.
 * 2. Add the correct vertical alignment in Chrome, Edge, and Firefox.
 */
progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Remove the inheritance of text transform in Firefox.
 */
select {
  text-transform: none; }

/**
 * 1. Remove the margin in Firefox and Safari.
 * 2. Remove the default vertical scrollbar in IE.
 * 3. Change the resize direction in all browsers (opinionated).
 */
textarea {
  margin: 0;
  /* 1 */
  overflow: auto;
  /* 2 */
  resize: vertical;
  /* 3 */ }

/**
 * Remove the padding in IE 10-.
 */
[type="checkbox"],
[type="radio"] {
  padding: 0; }

/**
 * 1. Correct the odd appearance in Chrome, Edge, and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
 * Correct the cursor style of increment and decrement buttons in Safari.
 */
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto; }

/**
 * Correct the text style of placeholders in Chrome, Edge, and Safari.
 */
::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54; }

/**
 * Remove the inner padding in Chrome, Edge, and Safari on macOS.
 */
::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * 1. Correct the inability to style upload buttons in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/**
 * Remove the inner border and padding of focus outlines in Firefox.
 */
::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
 * Restore the focus outline styles unset by the previous rule in Firefox.
 */
:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
 * Remove the additional :invalid styles in Firefox.
 */
:-moz-ui-invalid {
  box-shadow: none; }

/* Interactive
 * ========================================================================== */
/*
 * Add the correct display in Edge 18- and IE.
 */
details {
  display: block; }

/*
 * Add the correct styles in Edge 18-, IE, and Safari.
 */
dialog {
  background-color: white;
  border: solid;
  color: black;
  display: block;
  height: -moz-fit-content;
  height: -webkit-fit-content;
  height: fit-content;
  left: 0;
  margin: auto;
  padding: 1em;
  position: absolute;
  right: 0;
  width: -moz-fit-content;
  width: -webkit-fit-content;
  width: fit-content; }

dialog:not([open]) {
  display: none; }

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item; }

/* Scripting
 * ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
canvas {
  display: inline-block; }

/**
 * Add the correct display in IE.
 */
template {
  display: none; }

/* User interaction
 * ========================================================================== */
/*
 * 1. Remove the tapping delay in IE 10.
 * 2. Remove the tapping delay on clickable elements
      in all browsers (opinionated).
 */
a,
area,
button,
input,
label,
select,
summary,
textarea,
[tabindex] {
  -ms-touch-action: manipulation;
  /* 1 */
  touch-action: manipulation;
  /* 2 */ }

/**
 * Add the correct display in IE 10-.
 */
[hidden] {
  display: none; }

/* Accessibility
 * ========================================================================== */
/**
 * Change the cursor on busy elements in all browsers (opinionated).
 */
[aria-busy="true"] {
  cursor: progress; }

/*
 * Change the cursor on control elements in all browsers (opinionated).
 */
[aria-controls] {
  cursor: pointer; }

/*
 * Change the cursor on disabled, not-editable, or otherwise
 * inoperable elements in all browsers (opinionated).
 */
[aria-disabled="true"],
[disabled] {
  cursor: not-allowed; }

/*
 * Change the display on visually hidden accessible elements
 * in all browsers (opinionated).
 */
[aria-hidden="false"][hidden] {
  display: initial; }

[aria-hidden="false"][hidden]:not(:focus) {
  clip: rect(0, 0, 0, 0);
  position: absolute; }

/* Responsive font size */
/* Px to Em */
/* Px to Rem */
/* Px to VW */
/* Px to VH */
/* More accurate responsive font size */
/* @include calcFS(16px, 24px, 480px, 1280px, 18px -- fallback); */
html {
  font-size: 62.5%; }

body {
  position: relative;
  flex-direction: column;
  min-width: 320px;
  min-height: 100vh;
  padding: 3rem;
  overflow-x: hidden;
  font-family: "Lato", sans-serif;
  line-height: 1.65;
  word-wrap: break-word;
  text-rendering: optimizeLegibility; }

.heading-primary {
  color: #fff;
  text-transform: uppercase;
  backface-visibility: hidden; }

.heading-primary--main {
  font-weight: 400;
  font-size: calc(1.625rem + 4.5vw);
  letter-spacing: 0.95rem;
  animation: moveInLeft 1s ease-out; }
  @media (min-width: 1200px) {
    .heading-primary--main {
      font-size: 5rem; } }

.heading-primary--sub {
  display: block;
  font-weight: 700;
  font-size: calc(1.255rem + 0.06vw);
  letter-spacing: 1rem;
  animation: moveInRight 1s ease-out; }
  @media (min-width: 1200px) {
    .heading-primary--sub {
      font-size: 1.3rem; } }

.heading-secondary {
  font-size: calc(1.425rem + 2.1vw);
  display: inline-block;
  color: transparent;
  font-weight: 700;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
  background-image: linear-gradient(to right, #55c57a, #28b485);
  -webkit-background-clip: text;
  transition: all 0.2s; }
  @media (min-width: 1200px) {
    .heading-secondary {
      font-size: 3rem; } }
  .heading-secondary:hover {
    text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2); }

.heading-tertiary {
  font-weight: 700;
  font-size: 1.6rem;
  text-transform: uppercase; }

.paragraph {
  font-size: calc(1.285rem + 0.42vw); }
  @media (min-width: 1200px) {
    .paragraph {
      font-size: 1.6rem; } }
  .paragraph:not(:last-child) {
    margin-bottom: 3rem; }

/* Hide element while making it readable for screen readers */
/* Hide text while making it readable for screen readers */
.hide-text {
  padding: 0;
  overflow: hidden;
  white-space: nowrap;
  text-indent: 101%; }

/* Center element */
.u-center-text {
  text-align: center; }

.u-margin-bottom-8 {
  margin-bottom: 8rem; }

.slideDown {
  animation-name: slideDown;
  animation-duration: 1s;
  animation-timing-function: ease;
  animation-fill-mode: forwards; }

@keyframes slideDown {
  0% {
    transform: translateY(-100%);
    opacity: 0; }
  100% {
    transform: translateY(0);
    opacity: 1; } }

.fadeIn {
  animation: fadeIn;
  animation-duration: 0.5s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards; }

@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

.header {
  height: 95vh;
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.6), #28b485), url("../img/hero.jpg");
  background-position: top;
  background-size: cover;
  clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%); }

.header__logo-box {
  padding: 2%; }

.header__logo {
  height: 4vh; }

.header__text-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 60vh;
  text-align: center; }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
  .row::after {
    display: block;
    clear: both;
    content: ""; }
  .row [class^='col-'] {
    float: left; }
    .row [class^='col-']:not(:last-child) {
      margin-right: 6rem; }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) /2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 6rem) / 3); }
  .row .col-2-of-3 {
    width: calc(2 *(100% - 2 * 6rem) / 3 + 6rem); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 6rem) / 4); }
  .row .col-2-of-4 {
    width: calc(2 * (100% - 3 * 6rem) / 4 + 6rem); }
  .row .col-3-of-4 {
    width: calc((3 * (100% - 3 * 6rem) / 4) + 2 * 6rem); }

/* Booking section form */
.form__group {
  position: relative;
  display: flex;
  justify-content: space-around;
  padding-bottom: 3rem;
  border: 0; }

.form__input {
  width: 90%;
  padding: 1.5rem 2rem;
  font-size: 1.5rem;
  background-color: rgba(255, 255, 255, 0.5);
  border: 0;
  border-bottom: 3px solid transparent;
  border-radius: 2px;
  outline: none; }
  .form__input:focus {
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1); }
  .form__input:required:valid {
    border-color: #7ed56f; }
  .form__input:required:focus:invalid {
    border-color: #FF1A2C; }

.form__label {
  position: absolute;
  bottom: 4.5rem;
  left: 3rem;
  font-weight: 700;
  font-size: 1.2rem;
  transform: scale(1.3);
  transition: all 0.5s ease; }

.form__radio-group {
  display: flex;
  align-items: center; }

.form__input--radio {
  width: 4.8rem;
  height: 4.8rem;
  opacity: 0; }
  .form__input--radio:checked + .form__label--radio::before {
    background-position: -192px 0px; }

.form__label--radio {
  font-size: 1.6rem; }
  .form__label--radio::before {
    position: absolute;
    top: 0;
    width: 4.8rem;
    height: 4.8rem;
    margin-left: -4.85rem;
    background: url("../img/sprites/icons.svg") no-repeat -240px 0px;
    background-size: cover;
    cursor: pointer;
    content: ""; }

/* Section about */
.section-about {
  margin-top: -25vh;
  padding: 25rem 0;
  background-color: #f7f7f7; }

.section-about__heading-box {
  margin-bottom: 5%;
  text-align: center; }

/* Section features */
.section-features {
  margin-top: -11rem;
  padding: 20rem 0;
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.6), #28b485), url("../img/hero.jpg");
  transform: skewY(-7deg); }
  .section-features > * {
    transform: skewY(7deg); }

/* Section tours */
.section-tours {
  display: flex;
  flex-direction: column;
  margin-top: -15vh;
  padding: 25rem 0 0 0;
  background-color: #f7f7f7; }

.section-tours__heading-box {
  margin-bottom: 5rem;
  text-align: center; }

.section-tours__button-box {
  align-self: center;
  padding: 3%; }

/* Section stories */
.section-stories {
  position: relative;
  padding: 5rem; }

.section-stories__heading-box {
  margin-bottom: 5%;
  text-align: center; }

.section-stories__button-box {
  text-align: center; }

/* Section booking */
.section-book {
  padding: 15rem 0;
  background-image: linear-gradient(to right bottom, #55c57a, #28b485); }

.book {
  height: 50rem;
  background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.9) 50%, transparent 50%), url(../img/nat-10.jpg);
  background-size: 100%;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15); }

.book__form {
  width: 50%;
  padding: 6rem; }

/* Main button style */
.btn, .btn--white, .card__button, .btn--green {
  position: relative;
  text-transform: uppercase;
  text-decoration: none;
  border: 0;
  border-radius: 10em;
  transition: all 0.2s; }
  .btn::after, .btn--white::after, .card__button::after, .btn--green::after {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    border-radius: inherit;
    transition: all 0.4s;
    content: ""; }
  .btn:hover, .btn--white:hover, .card__button:hover, .btn--green:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    transform: translateY(-3px); }
  .btn:hover::after, .btn--white:hover::after, .card__button:hover::after, .btn--green:hover::after {
    transform: scale(1.4, 1.6);
    opacity: 0; }
  .btn:active, .btn--white:active, .card__button:active, .btn--green:active {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    transform: translateY(-1px); }

/* Header button white */
.btn--white, .card__button, .btn--green {
  padding: 0.8vmax 2vmax;
  color: #777;
  background-color: #fff;
  animation: moveInBottom 0.5s ease-out 0.75s backwards;
  font-size: calc(1.255rem + 0.06vw); }
  @media (min-width: 1200px) {
    .btn--white, .card__button, .btn--green {
      font-size: 1.3rem; } }
  .btn--white::after, .card__button::after, .btn--green::after {
    background-color: #fff; }

/* About section button */
.btn--text {
  display: inline-block;
  padding: 3px;
  color: #7ed56f;
  font-size: 1.6rem;
  text-decoration: none;
  border-bottom: 1px solid #7ed56f;
  transition: all 0.2s; }
  .btn--text:hover {
    color: #fff;
    background-color: #7ed56f;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
    transform: translateY(-2px); }
  .btn--text:active {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    transform: translateY(0); }

/* Tour buttons */
.btn--green {
  color: #fff;
  background-color: #28b485; }
  .btn--green::after {
    background-color: #28b485; }

.composition {
  position: relative; }
  .composition:hover img:not(:hover) {
    transform: scale(0.95); }

.composition__photo, .composition__photo--p1, .composition__photo--p2, .composition__photo--p3 {
  position: absolute;
  z-index: 1;
  width: 55%;
  border-radius: 2px;
  outline-offset: 2rem;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
  transition: all 0.2s; }
  .composition__photo:hover, .composition__photo--p1:hover, .composition__photo--p2:hover, .composition__photo--p3:hover {
    z-index: 10;
    outline: 1.5rem solid #28b485;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.5);
    transform: scale(1.05) translateY(-0.5rem); }

.composition__photo--p2 {
  top: 3vh;
  right: 0; }

.composition__photo--p3 {
  top: 10vh;
  left: 10vh; }

.section-stories__bg-video {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  overflow: hidden;
  opacity: 0.15; }

.bg-video__content {
  width: 100%;
  height: 100%;
  object-fit: cover; }

.section-features__feature-box {
  padding: 3rem;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.8);
  font-size: calc(1.275rem + 0.3vw);
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  transition: transform 0.3s; }
  @media (min-width: 1200px) {
    .section-features__feature-box {
      font-size: 1.5rem; } }
  .section-features__feature-box:hover {
    transform: translateY(-1.5rem) scale(1.03); }

.feature-box__icon, .feature-box__icon--world, .feature-box__icon--compass, .feature-box__icon--map, .feature-box__icon--heart {
  display: inline-block;
  width: 48px;
  height: 48px;
  margin-bottom: 0.5rem;
  object-fit: cover; }

.feature-box__icon--world {
  object-position: -144px 0; }

.feature-box__icon--compass {
  object-position: 0 0; }

.feature-box__icon--map {
  object-position: -48px 0; }

.feature-box__icon--heart {
  object-position: -96px 0; }

/* Card functionality */
.section-tours__card-box {
  display: grid;
  grid-auto-rows: minmax(57vh, auto);
  grid-template-columns: repeat(auto-fit, 34vh);
  justify-content: space-around; }

.card-container {
  height: 52rem;
  transform-style: preserve-3d;
  perspective: 150rem;
  transition: all 0.9s ease; }
  .card-container:hover {
    transform: rotateY(180deg); }

.card--front,
.card--back,
.card--back-sea,
.card--back-forest,
.card--back-snow {
  position: absolute;
  top: 0;
  width: 100%;
  height: inherit;
  font-size: 2rem;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  backface-visibility: hidden; }


.card--back,
.card--back-sea,
.card--back-forest,
.card--back-snow {
  transform: rotateY(180deg); }

.card--back-sea {
  background-image: linear-gradient(to right bottom, #ffb900, #ff8830); }

.card--back-forest {
  background-image: linear-gradient(to right bottom, #55c57a, #28b485); }

.card--back-snow {
  background-image: linear-gradient(to right bottom, #2009ff, #5643fa); }

/* Card elements */
.card__heading-box, .card__heading-box--sea, .card__heading-box--forest, .card__heading-box--snow {
  height: 23rem;
  background-size: cover;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%); }

.card__heading-box--sea {
  background-image: url("../img/nat-5.jpg"); }

.card__heading-box--forest {
  background-image: url("../img/nat-6.jpg"); }

.card__heading-box--snow {
  background-image: url("../img/nat-7.jpg"); }

.card__heading {
  position: absolute;
  margin: -30% 5% 0 15%;
  color: #fff;
  font-weight: 300;
  font-size: 2.8rem;
  text-align: right;
  text-transform: uppercase; }

.card__heading--primary, .card__heading--sea, .card__heading--forest, .card__heading--snow {
  padding: 0.5rem 2.5rem;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone; }

.card__heading--sea {
  background-image: linear-gradient(to right bottom, rgba(255, 185, 0, 0.85), rgba(255, 136, 48, 0.85)); }

.card__heading--forest {
  background-image: linear-gradient(to right bottom, rgba(85, 197, 122, 0.85), rgba(40, 180, 133, 0.85)); }

.card__heading--snow {
  background-image: linear-gradient(to right bottom, rgba(32, 9, 255, 0.85), rgba(86, 67, 250, 0.85)); }

.card__details__list {
  width: 80%;
  margin: 0 auto;
  padding: 10% 0 0 0;
  text-align: center;
  list-style-type: none; }
  .card__details__list li {
    padding: 1rem;
    font-size: 1.5rem; }
    .card__details__list li:not(:last-child) {
      border-bottom: 1px solid #d4d4d4; }

.card__cta {
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%); }

.card__price-box {
  margin-bottom: 8rem;
  color: #fff; }

.card__price-only {
  margin: 0;
  font-size: 1.4rem;
  text-transform: uppercase; }

.card__price-value {
  margin: 0;
  font-weight: 200;
  font-size: 6rem; }

.story {
  width: 75%;
  margin: 0 auto;
  padding: 6rem 6rem 6rem 9rem;
  font-size: 1.6rem;
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 3px;
  box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.1);
  transform: skewX(-12deg); }
  .story > * {
    transform: skewX(12deg); }
  .story .story__shape {
    float: left;
    width: 15rem;
    height: 15rem;
    shape-outside: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%); }
  .story .story__image {
    height: 100%;
    transform: translateX(-4rem) scale(1.4);
    transition: all 0.5s; }
  .story .story__text {
    transform: skewX(12deg); }
  .story .story__caption {
    position: absolute;
    top: 50%;
    left: 50%;
    color: #fff;
    font-size: 1.7rem;
    text-align: center;
    text-transform: uppercase;
    transform: translate(-50%, 20%);
    opacity: 0;
    transition: all 0.5s; }
  .story:hover .story__caption {
    transform: translate(-50%, -50%);
    opacity: 1; }
  .story:hover .story__image {
    transform: translateX(-4rem);
    filter: blur(3px) brightness(80%); }

/* Google placeholder animation (use @extend on input. First goes label tag then input */
.form__input:not(:placeholder-shown) + label {
  transform: translateY(-4rem) scale(1.3); }

.form__input:focus + label {
  transform: translateY(-4rem) scale(1.3); }

/* Make image responsive */
.img-responsive {
  display: block;
  max-width: 100%;
  height: auto; }
