@charset "UTF-8";
/* ABSTRACTS */
/* ClearFix */
/* Аbsolute centering of an element */
/* Make image responsive */
/* Flexible container */
/* Px to Em */
/* Px to Rem */
/* Px to VW */
/* Px to VH */
/* More accurate responsive font size */
/* @include calcFS(16px, 24px, 480px, 1280px, 18px -- fallback); */
/* MEDIA QUERY MANAGER */
/* 0 - 600px		Phone
 * 600 - 900px		Tablet portrait
 * 900 - 1200px		Tablet landscape //tablet
 * 1200 - 1800 		Desktop //desktop
 * 1800px + 		Big desktop //big desktop
 */
/* ORDER: Base + typography > general layout + grid > page layout > components */
/* breakpoints: ( (EM fo compatibility)
 *	phone: 37.5em -- 600px (600px / 16 px = 37.5em)
 *	tablet: 56.25em -- 900px
 *	desktop: 75em -- 1200px
 *	big-desktop: 112.5em -- min 1800px
 *	) !default
 */
/* VENDORS */
/* Document
 * ========================================================================== */
/**
 * Add border box sizing in all browsers (opinionated).
 */
*,
::before,
::after {
  box-sizing: border-box; }

/**
 * 1. Add text decoration inheritance in all browsers (opinionated).
 * 2. Add vertical alignment inheritance in all browsers (opinionated).
 */
::before,
::after {
  text-decoration: inherit;
  /* 1 */
  vertical-align: inherit;
  /* 2 */ }

/**
 * 1. Use the default cursor in all browsers (opinionated).
 * 2. Change the line height in all browsers (opinionated).
 * 3. Use a 4-space tab width in all browsers (opinionated).
 * 4. Remove the grey highlight on links in iOS (opinionated).
 * 5. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 * 6. Breaks words to prevent overflow in all browsers (opinionated).
 */
html {
  cursor: default;
  /* 1 */
  line-height: 1.5;
  /* 2 */
  -moz-tab-size: 4;
  /* 3 */
  tab-size: 4;
  /* 3 */
  -webkit-tap-highlight-color: transparent;
  -ms-text-size-adjust: 100%;
  /* 5 */
  -webkit-text-size-adjust: 100%;
  /* 5 */
  word-break: break-word;
  /* 6 */ }

/* Sections
 * ========================================================================== */
/**
 * Remove the margin in all browsers (opinionated).
 */
body {
  margin: 0; }

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Edge, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* Grouping content
 * ========================================================================== */
/**
 * Remove the margin on nested lists in Chrome, Edge, IE, and Safari.
 */
dl dl,
dl ol,
dl ul,
ol dl,
ul dl {
  margin: 0; }

/**
 * Remove the margin on nested lists in Edge 18- and IE.
 */
ol ol,
ol ul,
ul ol,
ul ul {
  margin: 0; }

/**
 * 1. Add the correct sizing in Firefox.
 * 2. Show the overflow in Edge 18- and IE.
 */
hr {
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/**
 * Add the correct display in IE.
 */
main {
  display: block; }

/**
 * Remove the list style on navigation lists in all browsers (opinionated).
 */
nav ol,
nav ul {
  list-style: none;
  padding: 0; }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Text-level semantics
 * ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * Add the correct text decoration in Edge 18-, IE, and Safari.
 */
abbr[title] {
  text-decoration: underline;
  text-decoration: underline dotted; }

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder; }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%; }

/* Embedded content
 * ========================================================================== */
/*
 * Change the alignment on media elements in all browsers (opinionated).
 */
audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle; }

/**
 * Add the correct display in IE 9-.
 */
audio,
video {
  display: inline-block; }

/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Remove the border on iframes in all browsers (opinionated).
 */
iframe {
  border-style: none; }

/**
 * Remove the border on images within links in IE 10-.
 */
img {
  border-style: none; }

/**
 * Change the fill color to match the text color in all browsers (opinionated).
 */
svg:not([fill]) {
  fill: currentColor; }

/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden; }

/* Tabular data
 * ========================================================================== */
/**
 * Collapse border spacing in all browsers (opinionated).
 */
table {
  border-collapse: collapse; }

/* Forms
 * ========================================================================== */
/**
 * Remove the margin on controls in Safari.
 */
button,
input,
select {
  margin: 0; }

/**
 * 1. Show the overflow in IE.
 * 2. Remove the inheritance of text transform in Edge 18-, Firefox, and IE.
 */
button {
  overflow: visible;
  /* 1 */
  text-transform: none;
  /* 2 */ }

/**
 * Correct the inability to style buttons in iOS and Safari.
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; }

/**
 * 1. Change the inconsistent appearance in all browsers (opinionated).
 * 2. Correct the padding in Firefox.
 */
fieldset {
  border: 1px solid #a0a0a0;
  /* 1 */
  padding: 0.35em 0.75em 0.625em;
  /* 2 */ }

/**
 * Show the overflow in Edge 18- and IE.
 */
input {
  overflow: visible; }

/**
 * 1. Correct the text wrapping in Edge 18- and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 */
legend {
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  white-space: normal;
  /* 1 */ }

/**
 * 1. Add the correct display in Edge 18- and IE.
 * 2. Add the correct vertical alignment in Chrome, Edge, and Firefox.
 */
progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Remove the inheritance of text transform in Firefox.
 */
select {
  text-transform: none; }

/**
 * 1. Remove the margin in Firefox and Safari.
 * 2. Remove the default vertical scrollbar in IE.
 * 3. Change the resize direction in all browsers (opinionated).
 */
textarea {
  margin: 0;
  /* 1 */
  overflow: auto;
  /* 2 */
  resize: vertical;
  /* 3 */ }

/**
 * Remove the padding in IE 10-.
 */
[type="checkbox"],
[type="radio"] {
  padding: 0; }

/**
 * 1. Correct the odd appearance in Chrome, Edge, and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
 * Correct the cursor style of increment and decrement buttons in Safari.
 */
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto; }

/**
 * Correct the text style of placeholders in Chrome, Edge, and Safari.
 */
::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54; }

/**
 * Remove the inner padding in Chrome, Edge, and Safari on macOS.
 */
::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * 1. Correct the inability to style upload buttons in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/**
 * Remove the inner border and padding of focus outlines in Firefox.
 */
::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
 * Restore the focus outline styles unset by the previous rule in Firefox.
 */
:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
 * Remove the additional :invalid styles in Firefox.
 */
:-moz-ui-invalid {
  box-shadow: none; }

/* Interactive
 * ========================================================================== */
/*
 * Add the correct display in Edge 18- and IE.
 */
details {
  display: block; }

/*
 * Add the correct styles in Edge 18-, IE, and Safari.
 */
dialog {
  background-color: white;
  border: solid;
  color: black;
  display: block;
  height: -moz-fit-content;
  height: -webkit-fit-content;
  height: fit-content;
  left: 0;
  margin: auto;
  padding: 1em;
  position: absolute;
  right: 0;
  width: -moz-fit-content;
  width: -webkit-fit-content;
  width: fit-content; }

dialog:not([open]) {
  display: none; }

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item; }

/* Scripting
 * ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
canvas {
  display: inline-block; }

/**
 * Add the correct display in IE.
 */
template {
  display: none; }

/* User interaction
 * ========================================================================== */
/*
 * 1. Remove the tapping delay in IE 10.
 * 2. Remove the tapping delay on clickable elements
      in all browsers (opinionated).
 */
a,
area,
button,
input,
label,
select,
summary,
textarea,
[tabindex] {
  -ms-touch-action: manipulation;
  /* 1 */
  touch-action: manipulation;
  /* 2 */ }

/**
 * Add the correct display in IE 10-.
 */
[hidden] {
  display: none; }

/* Accessibility
 * ========================================================================== */
/**
 * Change the cursor on busy elements in all browsers (opinionated).
 */
[aria-busy="true"] {
  cursor: progress; }

/*
 * Change the cursor on control elements in all browsers (opinionated).
 */
[aria-controls] {
  cursor: pointer; }

/*
 * Change the cursor on disabled, not-editable, or otherwise
 * inoperable elements in all browsers (opinionated).
 */
[aria-disabled="true"],
[disabled] {
  cursor: not-allowed; }

/*
 * Change the display on visually hidden accessible elements
 * in all browsers (opinionated).
 */
[aria-hidden="false"][hidden] {
  display: initial; }

[aria-hidden="false"][hidden]:not(:focus) {
  clip: rect(0, 0, 0, 0);
  position: absolute; }

/* Responsive font size */
/* BASE */
html {
  font-size: 62.5%;
  scroll-behavior: smooth; }
  @media (max-width: 74.99em) {
    html {
      font-size: 56.25%; } }
  @media (max-width: 56.24em) {
    html {
      font-size: 50%; } }
  @media (min-width: 112.51em) {
    html {
      font-size: 75%; } }

body {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 320px;
  min-height: 100vh;
  padding: 3rem;
  overflow-x: hidden;
  font-family: "Lato", sans-serif;
  line-height: 1.65;
  word-wrap: break-word;
  text-rendering: optimizeSpeed; }
  @media (max-width: 56.24em) {
    body {
      padding: 0; } }

::selection {
  color: #fff;
  background-color: #7ed56f; }

.heading-primary {
  overflow: hidden;
  color: #fff;
  text-transform: uppercase;
  backface-visibility: hidden; }

.heading-primary--main {
  display: block;
  margin-right: -2.7rem;
  font-weight: 400;
  font-size: calc(1.525rem + 3.3vw);
  letter-spacing: 2.7rem;
  animation: moveInLeft 1s ease-out; }
  @media (min-width: 1200px) {
    .heading-primary--main {
      font-size: 4rem; } }

.heading-primary--sub {
  display: block;
  margin-right: -1rem;
  font-weight: 700;
  font-size: calc(1.265rem + 0.18vw);
  letter-spacing: 1rem;
  animation: moveInRight 1s ease-out; }
  @media (min-width: 1200px) {
    .heading-primary--sub {
      font-size: 1.4rem; } }

.heading-secondary {
  display: block;
  color: #28b485;
  font-weight: 700;
  font-size: calc(1.395rem + 1.74vw);
  letter-spacing: 0.2rem;
  text-transform: uppercase;
  transition: all 0.2s; }
  @media (min-width: 1200px) {
    .heading-secondary {
      font-size: 2.7rem; } }
  @supports (-webkit-background-clip: text) {
    .heading-secondary {
      color: transparent;
      background-image: linear-gradient(to right, #55c57a, #28b485);
      -webkit-background-clip: text; } }
  .heading-secondary:hover {
    text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2); }

.heading-tertiary {
  font-weight: 700;
  font-size: calc(1.285rem + 0.42vw);
  text-transform: uppercase; }
  @media (min-width: 1200px) {
    .heading-tertiary {
      font-size: 1.6rem; } }

.paragraph {
  font-size: calc(1.285rem + 0.42vw); }
  @media (min-width: 1200px) {
    .paragraph {
      font-size: 1.6rem; } }

/* Hide element while making it readable for screen readers */
.visuallyHidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  white-space: nowrap;
  border: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(100%); }

/* Hide text while making it readable for screen readers */
.hide-text {
  padding: 0;
  overflow: hidden;
  white-space: nowrap;
  text-indent: 101%; }

.slideDown {
  animation-name: slideDown;
  animation-duration: 1s;
  animation-timing-function: ease;
  animation-fill-mode: forwards; }

@keyframes slideDown {
  0% {
    transform: translateY(-100%);
    opacity: 0; }
  100% {
    transform: translateY(0);
    opacity: 1; } }

.fadeIn {
  animation: fadeIn;
  animation-duration: 0.5s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards; }

@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

/* Google placeholder animation (use @extend on input. First goes label tag then input */
/* LAYOUT */
.header {
  height: 95vh;
  background-image: linear-gradient(to right bottom, rgba(85, 197, 122, 0.8), rgba(40, 180, 133, 0.8)), url("/img/hero-small.png");
  background-position: top;
  background-size: cover; }

@media screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 37.51em) and (min-width: 112.51em), screen and (min-resolution: 192dpi) and (min-width: 37.51em) and (min-width: 112.51em), screen and (min-resolution: 2dppx) and (min-width: 37.51em) and (min-width: 112.51em) {
  .header {
    background-image: linear-gradient(to right bottom, rgba(85, 197, 122, 0.8), rgba(40, 180, 133, 0.8)), url("/img/hero.png"); } }
  @supports (clip-path: polygon(0 0)) {
    .header {
      clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%); } }
  @media (max-width: 37.49em) {
    .header {
      clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%); } }

.header__logo-box {
  margin-top: 5rem;
  margin-left: 5rem; }
  @media (min-width: 56.26em) {
    .header__logo-box {
      margin-top: 3rem;
      margin-left: 3rem; } }

.header__logo {
  height: 3rem; }

.header__text-box {
  margin: 30vh 0;
  text-align: center; }

.header__btn {
  animation: moveInBottom 0.5s ease-out 0.75s backwards; }

.navigation__checkbox {
  display: none; }
  .navigation__checkbox:checked ~ .navigation__background {
    transform: scale(80); }
  .navigation__checkbox:checked ~ .navigation__nav {
    width: 100%;
    visibility: visible;
    opacity: 1; }
  .navigation__checkbox:checked + .navigation__button .burger-icon__part-1 {
    display: none; }
  .navigation__checkbox:checked + .navigation__button .burger-icon__part-2 {
    position: absolute;
    transform: rotate(135deg); }
  .navigation__checkbox:checked + .navigation__button .burger-icon__part-3 {
    transform: rotate(-135deg); }

@media (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .navigation__checkbox:checked + .navigation__button .burger-icon__part-2 {
    transform: rotate(135deg);
    right: 14px; }
  .navigation__checkbox:checked + .navigation__button .burger-icon__part-3 {
    position: absolute;
    left: 14px;
    transform: rotate(-135deg); } }

.navigation__button {
  position: fixed;
  top: 5rem;
  right: 5rem;
  z-index: 2000;
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.2);
  cursor: pointer; }

.navigation__background {
  position: fixed;
  top: 5rem;
  right: 5rem;
  z-index: 1000;
  width: 5rem;
  height: 5rem;
  background-image: radial-gradient(#55c57a, #28b485);
  border-radius: 50%;
  cursor: pointer;
  transition: transform 0.8s cubic-bezier(0.86, 1, 0.7, 1); }

/* Menu list */
.navigation__nav {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1500;
  width: 0;
  height: 100vh;
  visibility: hidden;
  opacity: 0;
  transition: all 0.8s ease-out; }

.navigation__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: inherit;
  text-align: center;
  list-style: none; }

.navigation__item {
  margin-bottom: 1rem; }

.navigation__link {
  display: block;
  padding: 1rem 2rem;
  color: #fff;
  font-weight: 300;
  font-size: calc(1.425rem + 2.1vw);
  text-transform: uppercase;
  text-decoration: none;
  background-image: linear-gradient(120deg, transparent 50%, #fff 50%);
  background-size: 220%;
  transition: all 0.4s; }
  @media (min-width: 1200px) {
    .navigation__link {
      font-size: 3rem; } }
  .navigation__link:hover, .navigation__link:active {
    color: #7ed56f;
    background-position: 100%;
    transform: translateX(1rem); }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
    @media (max-width: 56.24em) {
      .row:not(:last-child) {
        margin-bottom: 6rem; } }
  @media (max-width: 56.24em) {
    .row {
      max-width: 50rem;
      padding: 0 3rem; } }
  .row::after {
    display: block;
    clear: both;
    content: ""; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
      @media (max-width: 56.24em) {
        .row [class^="col-"]:not(:last-child) {
          margin-right: 0;
          margin-bottom: 6rem; } }
    @media (max-width: 56.24em) {
      .row [class^="col-"] {
        width: 100% !important; } }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 6rem) / 3); }
  .row .col-2-of-3 {
    width: calc(2 * ((100% - 2 * 6rem) / 3) + 6rem); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 6rem) / 4); }
  .row .col-2-of-4 {
    width: calc(2 * ((100% - 3 * 6rem) / 4) + 6rem); }
  .row .col-3-of-4 {
    width: calc(3 * ((100% - 3 * 6rem) / 4) + 2 * 6rem); }

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10rem 0;
  color: #d4d4d4;
  font-size: 1.4rem;
  background-color: #333; }

.footer__logo-box {
  margin-bottom: 8rem;
  text-align: center; }

.footer__navigation {
  padding: 2rem;
  border-top: 1px solid #777; }

.footer__list {
  padding: 0; }

.footer__item {
  display: inline-block; }
  .footer__item:not(:last-child) {
    margin-right: 1.5rem; }

.footer__link:link, .footer__link:visited {
  color: #d4d4d4;
  text-transform: uppercase;
  text-decoration: none;
  transition: all 0.2s; }

.footer__link:hover, .footer__link:active {
  color: #7ed56f;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4); }

.book__form {
  width: 50%;
  padding: 6rem; }
  @media (max-width: 74.99em) {
    .book__form {
      width: 60%; } }
  @media (max-width: 56.24em) {
    .book__form {
      width: 100%; } }

.form-group {
  position: relative;
  width: 90%;
  margin: 0;
  padding: 0 0 3rem 0;
  border: 0; }
  @media (max-width: 56.24em) {
    .form-group {
      width: 100%; } }

.form-group__input {
  width: 100%;
  padding: 1.5rem 2rem;
  font-size: 1.5rem;
  background-color: rgba(255, 255, 255, 0.5);
  border: 0;
  border-bottom: 3px solid transparent;
  border-radius: 2px;
  outline: none; }
  .form-group__input:not(:placeholder-shown) + label {
    transform: translateY(-4rem) scale(1.3); }
  .form-group__input:focus + label {
    transform: translateY(-4rem) scale(1.3); }
  .form-group__input:focus {
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1); }
  .form-group__input:required:valid {
    border-color: #7ed56f; }
  .form-group__input:required:focus:invalid {
    border-color: #FF1A2C; }

.form-group__label {
  position: absolute;
  bottom: 4.5rem;
  left: 3rem;
  font-weight: 300;
  font-size: 1.2rem;
  transform: scale(1.3);
  transition: all 0.5s ease; }

.form-group__radio-group {
  display: flex;
  justify-content: space-around; }

.form-group__radio-box {
  display: flex; }

.radio-box__input {
  width: 30px;
  height: 30px;
  opacity: 0; }
  .radio-box__input:checked + .radio-box__label::before {
    background-position: -0px 0px; }

.radio-box__label {
  position: relative;
  font-size: 1.6rem; }
  .radio-box__label::before {
    position: absolute;
    left: -30px;
    width: 30px;
    height: 30px;
    background: url("/img/sprites/radio-icons/radio-icons.svg") no-repeat -30px 0px;
    background-size: cover;
    cursor: pointer;
    content: ""; }

/* PAGE */
.header__heading {
  margin-bottom: 2rem; }

.section-about {
  margin-top: -25vh;
  padding: 25rem 0;
  background-color: #f7f7f7; }
  @media (-ms-high-contrast: none), (-ms-high-contrast: active) {
    .section-about {
      margin-top: 0; } }
  @media (max-width: 74.99em) {
    .section-about {
      padding: 20rem 0; } }

.section-about__heading-box {
  margin-bottom: 5%;
  text-align: center; }
  @media (max-width: 74.99em) {
    .section-about__heading-box {
      margin-top: 15%; } }
  @media (max-width: 56.24em) {
    .section-about__heading-box {
      margin-top: 10%; } }

.section-features {
  margin-top: -10rem;
  padding: 20rem 0;
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.6), #28b485), url("/img/hero.png");
  background-size: cover;
  transform: skewY(-7deg); }
  @media (max-width: 56.24em) {
    .section-features {
      padding: 10rem 0; } }
  .section-features > * {
    transform: skewY(7deg); }

.section-tours {
  margin-top: -10rem;
  padding: 20rem 0 10rem 0;
  background-color: #f7f7f7; }
  @media (max-width: 56.24em) {
    .section-tours {
      padding: 20rem 0 10rem 0; } }

.section-tours__heading-box {
  margin-bottom: 5rem;
  text-align: center; }

.section-tours__button-box {
  text-align: center; }

.section-stories {
  position: relative;
  padding: 15rem 0; }
  @media (max-width: 56.24em) {
    .section-stories {
      padding: 10rem 0; } }

.section-stories__heading-box {
  margin-bottom: 5%;
  margin-left: 6%;
  text-align: center; }

.section-stories__button-box {
  text-align: center; }

.section-book {
  padding: 15rem 0;
  background-image: linear-gradient(to right bottom, #55c57a, #28b485); }
  @media (max-width: 56.24em) {
    .section-book {
      padding: 10rem 0; } }

.book {
  background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.9) 50%, transparent 50%), url(/img/nat-10.png);
  background-size: 100%;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.2); }
  @media (max-width: 74.99em) {
    .book {
      background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.9) 65%, transparent 65%), url(/img/nat-10.png);
      background-size: cover; } }
  @media (max-width: 56.24em) {
    .book {
      background-image: linear-gradient(to right, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.7) 100%), url(/img/nat-10.png);
      background-size: cover; } }

/* COMPONENTS */
.navigation__icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 5rem;
  height: 5rem;
  padding: 1rem 0; }

.burger-icon__part-1,
.burger-icon__part-2,
.burger-icon__part-3 {
  position: relative;
  display: block;
  width: 2.6rem;
  height: 2px;
  background-color: #333;
  transition: all ease 0.4s; }

.feature-box__icon--world {
  display: inline-block;
  width: 48px;
  height: 48px;
  margin-bottom: 0.5rem;
  background-size: cover;
  background: url("/img/sprites/feature-icons/feature-icons.svg");
  background-position: -144px 0; }

.feature-box__icon--compass {
  display: inline-block;
  width: 48px;
  height: 48px;
  margin-bottom: 0.5rem;
  background-size: cover;
  background: url("/img/sprites/feature-icons/feature-icons.svg");
  background-position: 0 0; }

.feature-box__icon--map {
  display: inline-block;
  width: 48px;
  height: 48px;
  margin-bottom: 0.5rem;
  background-size: cover;
  background: url("/img/sprites/feature-icons/feature-icons.svg");
  background-position: -48px 0; }

.feature-box__icon--heart {
  display: inline-block;
  width: 48px;
  height: 48px;
  margin-bottom: 0.5rem;
  background-size: cover;
  background: url("/img/sprites/feature-icons/feature-icons.svg");
  background-position: -96px 0; }

/* Main button style */
.btn--white {
  padding: 1rem 2rem;
  color: #000;
  background-color: #fff;
  font-size: calc(1.255rem + 0.06vw); }
  .btn--white, .btn--white:link, .btn--white:visited {
    position: relative;
    display: inline-block;
    text-transform: uppercase;
    text-decoration: none;
    border: 0;
    border-radius: 10rem;
    transition: all 0.2s; }
    .btn--white:hover, .btn--white:link:hover, .btn--white:visited:hover {
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
      transform: translateY(-3px); }
    .btn--white:hover::after, .btn--white:link:hover::after, .btn--white:visited:hover::after {
      transform: scale(1.4, 1.6);
      opacity: 0; }
    .btn--white:active, .btn--white:focus, .btn--white:link:active, .btn--white:link:focus, .btn--white:visited:active, .btn--white:visited:focus {
      box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
      transform: translateY(-1px); }
    .btn--white::after, .btn--white:link::after, .btn--white:visited::after {
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      display: inline-block;
      width: 100%;
      height: 100%;
      border-radius: 10rem;
      transition: all 0.4s;
      content: ""; }
  @media (min-width: 1200px) {
    .btn--white {
      font-size: 1.3rem; } }
  .btn--white::after {
    background-color: #fff; }

.btn--green {
  padding: 1rem 2rem;
  color: #fff;
  background-color: #28b485; }
  .btn--green, .btn--green:link, .btn--green:visited {
    position: relative;
    display: inline-block;
    text-transform: uppercase;
    text-decoration: none;
    border: 0;
    border-radius: 10rem;
    transition: all 0.2s; }
    .btn--green:hover, .btn--green:link:hover, .btn--green:visited:hover {
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
      transform: translateY(-3px); }
    .btn--green:hover::after, .btn--green:link:hover::after, .btn--green:visited:hover::after {
      transform: scale(1.4, 1.6);
      opacity: 0; }
    .btn--green:active, .btn--green:focus, .btn--green:link:active, .btn--green:link:focus, .btn--green:visited:active, .btn--green:visited:focus {
      box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
      transform: translateY(-1px); }
    .btn--green::after, .btn--green:link::after, .btn--green:visited::after {
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      display: inline-block;
      width: 100%;
      height: 100%;
      border-radius: 10rem;
      transition: all 0.4s;
      content: ""; }
  .btn--green::after {
    background-color: #28b485; }

.btn--text:link, .btn--text:visited {
  display: inline-block;
  padding: 3px;
  color: #7ed56f;
  font-size: 1.6rem;
  text-decoration: none;
  border-bottom: 1px solid #7ed56f;
  transition: all 0.2s; }

.btn--text:hover {
  color: #fff;
  background-color: #7ed56f;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  transform: translateY(-2px); }

.btn--text:active {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  transform: translateY(0); }

.section-about__composition {
  position: relative;
  display: flex;
  justify-content: space-between; }
  .section-about__composition:hover img:not(:hover) {
    transform: scale(0.95); }

.composition__photo--p1 {
  position: absolute;
  z-index: 1;
  width: 55%;
  border-radius: 2px;
  outline-offset: 2rem;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
  transition: all 0.2s; }
  @media (max-width: 56.24em) {
    .composition__photo--p1 {
      display: inline-block;
      position: static;
      width: 30%; } }
  .composition__photo--p1:hover {
    z-index: 10;
    outline: 1.5rem solid #28b485;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.5);
    transform: scale(1.05) translateY(-0.5rem); }

.composition__photo--p2 {
  position: absolute;
  z-index: 1;
  width: 55%;
  border-radius: 2px;
  outline-offset: 2rem;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
  transition: all 0.2s;
  top: 3vh;
  right: 0; }
  @media (max-width: 56.24em) {
    .composition__photo--p2 {
      display: inline-block;
      position: static;
      width: 30%; } }
  .composition__photo--p2:hover {
    z-index: 10;
    outline: 1.5rem solid #28b485;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.5);
    transform: scale(1.05) translateY(-0.5rem); }

.composition__photo--p3 {
  position: absolute;
  z-index: 1;
  width: 55%;
  border-radius: 2px;
  outline-offset: 2rem;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
  transition: all 0.2s;
  top: 10vh;
  left: 10vh; }
  @media (max-width: 56.24em) {
    .composition__photo--p3 {
      display: inline-block;
      position: static;
      width: 30%; } }
  .composition__photo--p3:hover {
    z-index: 10;
    outline: 1.5rem solid #28b485;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.5);
    transform: scale(1.05) translateY(-0.5rem); }

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  overflow: hidden;
  opacity: 0.15; }
  @media (max-width: 37.49em) {
    .bg-video {
      background-image: url("/img/video--poster.png");
      background-size: cover;
      background-repeat: no-repeat; } }

.bg-video__content {
  width: 100%;
  height: 100%;
  object-fit: cover; }
  @media (-ms-high-contrast: none), (-ms-high-contrast: active) {
    .bg-video__content {
      width: auto; } }
  @media (max-width: 37.49em) {
    .bg-video__content {
      display: none; } }

.feature-box {
  padding: 3rem;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.8);
  font-size: calc(1.275rem + 0.3vw);
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  transition: transform 0.3s; }
  @media (min-width: 1200px) {
    .feature-box {
      font-size: 1.5rem; } }
  .feature-box:hover {
    transform: translateY(-1.5rem) scale(1.03); }

.card {
  height: 52rem;
  font-size: 2rem;
  transform-style: preserve-3d;
  perspective: 150rem;
  transition: all 0.9s ease; }
  .card:hover {
    transform: rotateY(180deg); }

.card-front {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  backface-visibility: hidden; }

.card-front__bg-box {
  position: relative; }

.card-front__img {
  width: 100%;
  object-fit: cover;
  object-position: top;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%); }

.card-front__heading {
  position: absolute;
  right: 0;
  bottom: 0;
  margin: 0;
  color: #fff;
  font-weight: 300;
  font-size: 2.8rem;
  text-align: right;
  text-transform: uppercase; }
  .card-front__heading span {
    padding: 0.5rem; }

.card-front__text-color--sea {
  background-image: linear-gradient(to right bottom, rgba(255, 185, 0, 0.85), rgba(255, 136, 48, 0.85)); }

.card-front__text-color--forest {
  background-image: linear-gradient(to right bottom, rgba(85, 197, 122, 0.85), rgba(40, 180, 133, 0.85)); }

.card-front__text-color--snow {
  background-image: linear-gradient(to right bottom, rgba(32, 9, 255, 0.85), rgba(86, 67, 250, 0.85)); }

.card-front__list {
  margin: 0 10%;
  padding: 5% 0;
  text-align: center;
  list-style-type: none; }
  .card-front__list li {
    padding: 1rem;
    font-size: 1.5rem; }
    .card-front__list li:not(:last-child) {
      border-bottom: 1px solid #d4d4d4; }

/* Back of the card */
.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  transform: rotateY(180deg);
  backface-visibility: hidden; }

.card-back__bg-color--sea {
  background-image: linear-gradient(to right bottom, #ffb900, #ff8830); }

.card-back__bg-color--forest {
  background-image: linear-gradient(to right bottom, #55c57a, #28b485); }

.card-back__bg-color--snow {
  background-image: linear-gradient(to right bottom, #2009ff, #5643fa); }

.card-back__cta {
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%); }

.card-back__price-box {
  margin-bottom: 8rem;
  color: #fff; }

.card-back__price--only {
  margin: 0;
  font-size: 1.4rem;
  text-transform: uppercase; }

.card-back__price--value {
  margin: 0;
  font-weight: 200;
  font-size: 6rem; }

@media only screen and (max-width: 56.25em), only screen and (hover: none) {
  .card {
    height: auto; }
    .card:hover {
      transform: rotate(0); }
  .card-front {
    position: relative;
    border-radius: 3px; }
  .card-front__list {
    padding: 2rem 0 6rem 0; }
  .card-back {
    border-radius: 0;
    position: relative;
    margin-top: -5rem;
    transform: rotate(0);
    clip-path: polygon(0 15%, 100% 0, 100% 100%, 0% 100%); }
  .card-back__cta {
    margin: 3rem 0;
    position: static;
    transform: translate(0); }
  .card-back__price-box {
    margin-bottom: 0; }
  .card-back__price--value {
    padding-bottom: 2rem;
    font-size: 4rem; } }

@media (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .card {
    height: 55rem;
    width: auto;
    margin-bottom: 18rem; }
    .card:hover {
      transform: rotate(0); }
  .card-front {
    position: relative;
    border-radius: 3px; }
  .card-front__list {
    padding: 2rem 0 6rem 0; }
  .card-back {
    height: 20rem;
    border-radius: 0;
    position: relative;
    margin-top: -5rem;
    transform: rotate(0);
    clip-path: polygon(0 15%, 100% 0, 100% 100%, 0% 100%); }
  .card-back__cta {
    margin: 3rem 0;
    position: static;
    transform: translate(0); }
  .card-back__price-box {
    margin-bottom: 0; }
  .card-back__price--value {
    padding-bottom: 2rem;
    font-size: 4rem; } }

.story {
  width: 75%;
  margin: 0 auto;
  padding: 6rem 6rem 6rem 9rem;
  font-size: 1.6rem;
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 3px;
  box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.1);
  transform: skewX(-12deg); }
  .story > * {
    transform: skewX(12deg); }
  @media (max-width: 56.24em) {
    .story {
      width: 100%;
      padding: 1rem; } }
  @media (max-width: 37.49em) {
    .story {
      transform: skewX(0); } }
  .story .story__shape {
    float: left;
    width: 15rem;
    height: 15rem;
    overflow: hidden;
    border-radius: 50%; }
    @supports (clip-path: circle()) {
      .story .story__shape {
        clip-path: circle(50% at 50% 50%);
        shape-outside: circle(50% at 50% 50%);
        border-radius: 0; } }
    @media (max-width: 37.49em) {
      .story .story__shape {
        transform: skewX(0); } }
  .story .story__image {
    height: 100%;
    transform: translateX(-4rem) scale(1.4);
    transition: all 0.5s; }
  .story .story__text {
    transform: skewX(12deg); }
    @media (max-width: 56.24em) {
      .story .story__text {
        transform: translateX(0); } }
  .story .story__caption {
    position: absolute;
    top: 50%;
    left: 50%;
    color: #fff;
    font-size: 1.7rem;
    text-align: center;
    text-transform: uppercase;
    transform: translate(-50%, 20%);
    opacity: 0;
    transition: all 0.5s; }
  .story:hover .story__caption {
    transform: translate(-50%, -50%);
    opacity: 1; }
  .story:hover .story__image {
    transform: translateX(-4rem);
    filter: blur(3px) brightness(80%); }

.popup {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 99999;
  background-color: rgba(0, 0, 0, 0.8);
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s; }
  .popup:target {
    visibility: visible;
    opacity: 1; }

.popup__content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  border-radius: 3px;
  box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.2);
  transition: all 0.4s; }
  @media (min-width: 75.01em) {
    .popup__content {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: auto; } }
  @media (max-width: 37.49em) {
    .popup__content {
      width: 70%; } }

.popup__left {
  align-self: center; }
  @media (max-width: 74.99em) {
    .popup__left {
      display: none; } }

.popup__right {
  align-self: center;
  padding: 3rem 5rem; }

.popup__close:link, .popup__close:visited {
  position: absolute;
  top: 2.5rem;
  right: 2.5rem;
  display: inline-block;
  color: #ff3253;
  font-size: 4rem;
  line-height: 1;
  text-decoration: none;
  transition: all 0.2s; }

.popup__close:hover {
  color: #7ed56f; }

.popup__text {
  margin-bottom: 4rem;
  font-size: 1.4rem;
  hyphens: auto;
  column-count: 2;
  column-gap: 2rem;
  column-rule: 1px solid #eee; }

.popup__img {
  display: block;
  max-width: 100%;
  height: auto; }

