// -----------------------------------------------------------------------------
// This file contains sass functions.
// -----------------------------------------------------------------------------



//Px to Em
$browser-context: 16px
@function em($pixels, $context: $browser-context)
	@return ($pixels / $context) * 1em


//Px to Rem
$browser-context: 16px
@function rem($pixels, $context: $browser-context)
	@return #{$pixels/$context}rem


//Px to VW
$vw-context: (1920 * 0.01) * 1px
@function vw($target)
	@return ($target / $vw-context) * 1vw

//Px to VH
$vh-context: (1080 * 0.01) * 1px
@function vh($target)
	@return ($target / $vh-context) * 1vh


//Dont forget about RFS


// For loop
//@for $i from 0 through  4 // If to is used, the final number is excluded; if through is used, it's included.
//		.feature__#{$i}
//			opacity: 0
//			margin: 10% 0
