// -----------------------------------------------------------------------------
// This file contains sass mixin.
// -----------------------------------------------------------------------------

// Clearfix

@mixin clearfix()
	&::after
		display: block
		clear: both
		content: ""
