.composition
	position: relative

	img
		position: absolute
		z-index: 1
		width: 55%
		border-radius: 2px
		outline-offset: 2rem
		box-shadow: 0 1.5rem 4rem rgba($color-black, 0.4)
		transition: all 0.2s

		&:hover
			z-index: 10
			outline: 1.5rem solid $color-primary-dark
			box-shadow: 0 1.5rem 4rem rgba($color-black, 0.5)
			transform: scale(1.05) translateY(-0.5rem)

	&:hover img:not(:hover)
		transform: scale(0.95)

	.composition__photo--p2
		top: 3vh
		right: 0

	.composition__photo--p3
		top: 10vh
		left: 10vh




