// -----------------------------------------------------------------------------
// POPUP
// -----------------------------------------------------------------------------

.popup
	position: fixed
	top: 0
	right: 0
	bottom: 0
	left: 0
	z-index: 99999
	background-color: rgba($color-black, 0.8)
	visibility: hidden
	opacity: 0
	transition: all 0.3s
	//backdrop-filter: blur(10px)

	&:target
		visibility: visible
		opacity: 1


.popup__content
	+absCenter
	background-color: $color-white
	border-radius: 3px
	box-shadow: 0 2rem 4rem rgba($color-black, 0.2)
	transition: all 0.4s

	+media('>desktop')
		display: grid
		grid-template-columns: 1fr 1fr
		grid-template-rows: auto

	+media('<phone')
		width: 70%


.popup__left
	align-self: center
	+media('<desktop')
		display: none


.popup__right
	align-self: center
	padding: 3rem 5rem


.popup__close

	&:link,
	&:visited
		position: absolute
		top: 2.5rem
		right: 2.5rem
		display: inline-block
		color: #ff3253
		font-size: 4rem
		line-height: 1
		text-decoration: none
		transition: all 0.2s

	&:hover
		color: $color-primary

.popup__text
	margin-bottom: 4rem
	font-size: 1.4rem
	hyphens: auto
	column-count: 2
	column-gap: 2rem
	column-rule: 1px solid $color-grey-light-2


.popup__img
	+img-responsive


